.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 40%;

    form {
        display: grid;
        gap: 20px;

        button {
            border: none;
            padding: 8px 10px;
            border-radius: 8px;
            background: #0198E1;
            color: white;
            opacity: 1;
            transition: opacity linear 0.3s;
            max-width: 50%;
            cursor: pointer;
            min-height: 44px;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    input {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 8px 10px;
        font-size: 20px;
        line-height: 26px;
    }
}